In [1]:
# Single word
'hello'

'hello'

In [2]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [3]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [4]:
# Be careful with quotes!
' I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-4-3b26cff97c4c>, line 2)

In [5]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [6]:
# We can simply declare a string
'Hello World'

'Hello World'

In [7]:
# note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [9]:
print ('Hello World 1')
print ('Hello World 2')
print ('Use \n to print a new line')
print ('\n')
print ('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

In [10]:
# To use print function from Python 3 in Python 2
from __future__ import print_function

print('Hello World')

Hello World

In [11]:
len('Hello World')

11

In [13]:
# Assign s as a string

In [14]:
#Check
s

'Hello World'

In [15]:
# Print the object
print(s)

Hello World

In [16]:
# Show first element (in this case a letter)
s[0]

'H'

In [17]:
s[1]

'e'

In [18]:
s[2]

'l'

In [19]:
# We can use a : to perform slicing which grabs everything up to a designated point. 
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [20]:
# Note that there is no change to the original s
s

'Hello World'

In [21]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [22]:
#Everything
s[:]

'Hello World'

In [23]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [24]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [25]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [26]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [27]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

In [28]:
s

'Hello World'

In [29]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [43]:
s

'Hello World'

In [44]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [45]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [46]:
print(s)

Hello World concatenate me!

In [47]:
s

'Hello World concatenate me!'

In [48]:
letter = 'z'

In [49]:
letter*10

'zzzzzzzzzz'

In [50]:
s

'Hello World concatenate me!'

In [51]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [52]:
# Lower case
s.lower()

'hello world concatenate me!'

In [53]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [54]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

In [55]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'